<!DOCTYPE html>
<html>
<body>
{% extends "home.html" %}

{% block content %}
{% set ciphers = ciphers %}
{% set info = info %}

<div class="row justify-content-left" style="margin: 2%;">
    <h1><strong>Cipher REST api from rapidapi.com ...</strong></h1>
    <form action={{url_for('api')}}>
        <button>Refresh!</button>
    </form>
</div>
<div class="countries" style="height: 35vh;">

    <table style="margin: 2%">
        <tr>
            <th>Ciphers</th>
            <th>Information</th>

        </tr>
        <tr>
            <td>Background</td>

    </table>
    <table style="margin: 2%">
        <tr>
            <th>Ciphers</th>
        </tr>

    </table>
    <table style="margin: 2%">
        <tr>
            <th>Information</th>
        </tr>

    </table>
</div>

{% endblock %}
</body>
</html>