<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>API</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

{% extends "home.html" %}
{% block content %}
    {% set quote = quote %}
    <h1>Random Quote</h1>
    <p class="quote">
        {{quote["content"]}}
    </p>
    <form method="POST" ID="myForm" action={{url_for('api')}} >
        <input type="submit" value="New Quote">
    </form>


<p>{{quote}}</p>
{% endblock %}