<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rsa.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/easteregg">Easter Egg</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://docs.google.com/document/d/14WqOAlV9A7eVnjH-4foY0UjTzUqHeE5uFisVJ1O8_Uo/edit?usp=sharing">About Us</a>
    <a class="navbar-brand" href="https://docs.google.com/document/d/1BwrLotvabNXMWuHMsrePWA0r2USNPfR9TTbbI6gdCSU/edit">The Wildcats Project Plan</a>

    <div class="nav-link dropdown-link dropdown-mine">
        <span>Journals</span>
        <div class="dropdown-content-mine">
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1C3TsZwn3UGZbvlZ6PIj3n9DsMxuz4hoh0jmBhIoRtVs/edit#heading=h.sm03aedygn6q"><span>Rivan / Adam</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1AKb0VsCSirWAwY-YU20wCJV97-eVj4Qv6zsYP3wisPI/edit"><span>Nihar / Noah</span></a>
        </div>
    </div>

    <div class="nav-link dropdown-link dropdown-mine">
        <span>TPT Corrections</span>
        <div class="dropdown-content-mine">
            <a class="dropdown-link" href = "https://docs.google.com/document/d/18AdvzRVKnktfdJjyeswFflwlOCjKH6VHnDw2CtPDdUM/edit?usp=sharing"><span>TPT Week 7</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1TJqF9Mavt2wq6fPzYaoknUSXtKEAcDCyEmR3GtA3pDs/edit?usp=sharing"><span>TPT Week 6</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1C8SDuDMfIu5fWbWoLlAytINJM1gX5i58-oS4w4UB7LU/edit?usp=sharing"><span>TPT Week 4</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1kYYfTWR_ZV0CrbTMgQaXiTNQ3cV0QHO5hcwzixHsfCU/edit?usp=sharing"><span>TPT Week 3</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1d0tQ-kBRDvRsQxY_c9EHBhV_wAVRvd-C7-nwq02sqvs/edit?usp=sharing"><span>TPT Week 2</span></a>
            </br>
            <a class="dropdown-link" href = "https://docs.google.com/document/d/1IYVHVoNcblzkOa7R7giJApbt1mWa-OSjLnrQa-o69OU/edit?usp=sharing"><span>TPT Week 1</span></a>
        </div>
    </div>
    <a class="navbar-brand" href="/">Back to Original Site</a>
</nav>
{% block content2 %}{% endblock %}
</body>
</html>