<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morse Code Information</title>

    <!-- incorporates style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- incorporates style of text -->
    <style>
    body {
                background-image: url();
            background-size: cover;
                background-repeat: no-repeat;
    }


        h1 {color: blue;}

        p {
            color: orange;
            font-size: 150%}
        h {
            color: purple;
            font-size: 250%}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
         }
</style>
</head>
<body>
<!-- brings in the navbar -->
{% extends "home.html" %}

<!-- all the text that is in the page -->
{% block content %}
<h>About Morse Code</h>
<p></p>
<p> </p>


<h>References</h>
<!-- embedding another website -->
<iframe src = "" class="center" title = "More Info" width="55%" height = "350" style = "border:1px solid black"></iframe>
<h> </h>
<p> </p>
<!-- embedding another website -->
<iframe src = "" class="center" title = "Python Code" width = "55%" height = "650" style = "border:1px solid black"></iframe>
<h> </h>
{% endblock %}
</body>
</html>