<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Morse Code Information</title>

    <!-- incorporates style.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- incorporates style of text -->
    <style>
    body {
                background-image: url(https://wallpaperaccess.com/full/188825.jpg); no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }


        h1 {color: blue;}

        p {
            color: orange;
            font-size: 150%}
        h {
            color: purple;
            font-size: 250%}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
         }
</style>
</head>
<body>
<!-- brings in the navbar -->
{% extends "home.html" %}

<!-- all the text that is in the page -->
{% block content %}
<h style="text-align:center;"><b>About Morse Code</b></h>
<p>Morse code is a method used in telecommunication to encode text characters as standardized sequences of two different signal durations, called dots and dashes or dits and dahs. Morse code is named after Samuel Morse, an inventor of the telegraph.</p>
<p> It is not used as much today as it was in the 19th and 20th centuries. Teletypewriters were invented in the early 20th century with their own codes and gradually replaced Morse code. Other types of technology that are easier to use for communication became even more common. However, some people still use Morse code to communicate on amateur radio.

    There are different types of Morse code for some different countries.

    There are three different symbols in Morse code; there's a short one, usually called 'dit', a long one, called 'dah', and the pause. A dah is three times as long as a dit, and the pause has the same length as the dit. It's mainly used for ships to communicate.</p>
<h style="text-align:center;"><b>References</b></h>
<!-- embedding another website -->
<iframe src = "https://www.britannica.com/topic/Morse-Code" class="center" title = "More Info" width="75%" height = "350" style = "border:1px solid black"></iframe>
<h style="text-align:center;"><b>Coding Morse Code</b></h>
<p>To understand how to decrypt and encrypt morse code I needed to learn how to properly write sentences in morse code. This is done with dots and dashes in a specific order which can be translated. EX: .... . .-.. .-.. --- / .... --- .-- / .- .-. . / -.-- --- ..-  =  Hello how are you. To code this, I first created an Encrypt function that captures an input string of letters, then parsed thru the string of alphanumeric characters one-by-one, and built up a new string of the morse code equivalent (which was stored in a pre-built array) of each character. I then printed out that morse string equivalent string. Additionally, I created an almost identical Decrypt function, with the arrays simply reversed. One change I did have to make was to create a variable for space so I had made a slash be that variable to separate words in morse code.
</p>
<!-- embedding another website -->
<iframe src = "https://repl.it/@adamholbel/Binary-Encryptor-Decryptor?lite=true" class="center" title = "Python Code" width = "75%" height = "650" style = "border:1px solid black"></iframe>
<img width="750" height="650" src="https://www.researchgate.net/profile/Maryam_Jalalitabar/publication/308851059/figure/fig5/AS:515663204945925@1499955096262/International-Morse-code.png" alt="A picture of Morse code." class = "center"/>
<h style="text-align:center;"><b>I Hope You Will Play With Morse Code and Learn About the Other Ciphers!</b></h>
{% endblock %}
</body>
</html>
