<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Quiz Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!-- creates the looks of the buttons -->
    <!-- https://i.pinimg.com/originals/76/60/4b/76604b143429d4225e5784ba0d9d2aef.jpg -->
    <style>

    @import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
        background-image: url(https://wallpaperaccess.com/full/802192.jpg);
                height: 100%
                width: 100%
            background-size: cover;
                background-repeat: no-repeat;
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
  color: white;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
button:hover{
	background-color: #38a;
}





.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


    </style>

</head>
<body >

<!-- brings in navbar from base.html -->
{% extends "home.html" %}

{% block content %}

<h1>Quiz on Ciphers</h1>
<div class="quiz-container">
    <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="feedback" style="color: white"></div>
<div id="results" style="color: white"></div>


<script>
    (function(){
  // Functions
  function buildQuiz(){
    // variable to store the HTML output
    const output = [];

    // for each question...
    myQuestions.forEach(
      (currentQuestion, questionNumber) => {

        // variable to store the list of possible answers
        const answers = [];

        // and for each available answer...
        for(letter in currentQuestion.answers){

          // ...add an HTML radio button
          answers.push(
            `<label>
              <input type="radio" name="question${questionNumber}" value="${letter}">
              ${letter} :
              ${currentQuestion.answers[letter]}
            </label>`
          );
        }

        // add this question and its answers to the output
        output.push(
          `<div class="slide">
            <div class="question"> ${currentQuestion.question} </div>
            <div class="answers"> ${answers.join("")} </div>
          </div>`
        );
      }
    );

    // finally combine our output list into one string of HTML and put it on the page
    quizContainer.innerHTML = output.join('');
  }

  function showResults(){
    showingResults = true;
    document.getElementById("newform").value = `true`;

    // gather answer containers from our quiz
    const answerContainers = quizContainer.querySelectorAll('.answers');

    // keep track of user's answers
    let numCorrect = 0;

    // for each question...
    myQuestions.forEach( (currentQuestion, questionNumber) => {

      // find selected answer
      const answerContainer = answerContainers[questionNumber];
      const selector = `input[name=question${questionNumber}]:checked`;
      const userAnswer = (answerContainer.querySelector(selector) || {}).value;

      // if answer is correct
      if(userAnswer === currentQuestion.correctAnswer){
        // add to the number of correct answers
        numCorrect++;
        questionCorrect[questionNumber] = true;
        realqnum = questionNumber + 1;
        correctquestionnums = correctquestionnums.concat(`${realqnum} `);
        // color the answers green
        answerContainers[questionNumber].style.color = 'lightgreen';
      }
      // if answer is wrong or blank
      else{
        // color the answers orange
        answerContainers[questionNumber].style.color = 'orange';
        questionCorrect[questionNumber] = false;
        realqnum = questionNumber + 1;
        incorrectquestionnums = incorrectquestionnums.concat(`${realqnum} `);



      }

    });

    // show number of correct answers out of total
    resultsContainer.innerHTML = `${numCorrect} out of ${myQuestions.length}`;
    document.getElementById("result").value = `${numCorrect}`;
    document.getElementById("questionswrong").value = `${incorrectquestionnums}`;
    document.getElementById("questionsright").value = `${correctquestionnums}`;
    document.getElementById("attemptnum").value = `1`;


  }

  function showSlide(n) {

    slides[currentSlide].classList.remove('active-slide');
    slides[n].classList.add('active-slide');
    currentSlide = n;
     if (showingResults == true && questionCorrect[currentSlide] == false) {
        feedbackContainer.innerHTML = `You got this question wrong. Feedback: ${myFeedback[currentSlide]}`;
     }
     if (showingResults == true && questionCorrect[currentSlide] == true) {
        feedbackContainer.innerHTML = "";
     }
    if(currentSlide === 0){
      previousButton.style.display = 'none';
    }
    else{
      previousButton.style.display = 'inline-block';
    }
    if(currentSlide === slides.length-1){
      nextButton.style.display = 'none';
      submitButton.style.display = 'inline-block';
    }
    else{
      nextButton.style.display = 'inline-block';
      submitButton.style.display = 'none';
    }
  }

  function showNextSlide() {
    showSlide(currentSlide + 1);
  }

  function showPreviousSlide() {
    showSlide(currentSlide - 1);
  }

  // Variables
  var showingResults = false;
  var questionCorrect = [
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  "",
  ""
  ];
  var correctquestionnums = "";
  var incorrectquestionnums = "";
  const myFeedback = [
  "Pig Latin always ends a word with -ay.",
  "The Caesar Cipher has a shift pattern of 6 in this case, so shift each letter over 6 times. For example A=G.",
  "Scytale was the first cipher device created by the Ancient Greeks. It was used for basic cryptology and encoded messages.",
  "Ciphers are useful for communication, security, and it's just fun to use them.",
  "The telegraphs on battleships were the first method to use morse code. Messages were encoded in long and short beeps.",
  "ASCII encryption converts numbers to letters starting from 65 for captial A and 98 for lowercase a.",
  "Caesar created the cipher to communicate with his generals. It was then used behind his back to plan to assassinate him.",
  "In England, kids wanted to create their own language, and pig latin was born!",
  "AES-256 is the most secure industry standard encryption method today. The caesar cipher has only 26 keys, and is very insecure.",
  "We use Public Key 1 and the private key to decrypt RSA encoded data."
  ];
  const quizContainer = document.getElementById('quiz');
  const resultsContainer = document.getElementById('results');
  const feedbackContainer = document.getElementById('feedback');
  const submitButton = document.getElementById('submit');
  const myQuestions = [
    {
      question: "Question 1: What Cipher always ends a word with ay?",
      answers: {
        a: "RSA",
        b: "Caesar Cipher",
        c: "Pig Latin",
        d: "Morse Code"
      },
      correctAnswer: "c",
      feedback: "Pig Latin always ends a word with -ay."
    },
    {
      question: "Question 2: Encrypt the words 'Hello There, General Kenobi!' in the Caesar Cipher with a shift pattern being 6.",
      answers: {
        a: "Mjqqt Ymjwj, Ljsjwfq Pjstgn!",
        b: "Nkrru Znkxk, Mktkxgr Qktuho!",
        c: "Wtaad Iwtgt, Vtctgpa Ztcdqx!",
        d: "Ebiil Qebob, Dbkboxi Hbklyf!"
      },
      correctAnswer: "b",
      feedback: "The Caesar Cipher has a shift pattern of 6 in this case, so shift each letter over 6 times. For example A=G."
    },
    {
      question: "Question 3: What was the first Cipher device ever created?",
      answers: {
        a: "Scytale",
        b: "Telegraph",
        c: "Phone",
        d: "Fialka"
      },
      correctAnswer: "a",
      feedback: "Scytale was the first cipher device created by the Ancient Greeks. It was used for basic cryptology and encoded messages."
    },
    {
      question: "Question 4: Why do we use Ciphers?",
      answers: {
        a: "For Communication",
        b: "For Fun",
        c: "For Security",
        d: "All of the Above"
      },
      correctAnswer: "d",
      feedback: "Ciphers are useful for communication, security, and it's just fun to use them."
    },
    {
      question: "Question 5: What Cipher uses sound?",
      answers: {
        a: "Playfair Cipher",
        b: "RSA",
        c: "Morse Code",
        d: "Binary"
      },
      correctAnswer: "c",
      feedback: "The telegraphs on battleships were the first method to use morse code. Messages were encoded in long and short beeps."
    },
    {
      question: "Question 6: Decrypt '10010001100101110110011011001101111' from Binary to English.",
      answers: {
        a: "Hello",
        b: "World",
        c: "Cipher",
        d: "Code"
      },
      correctAnswer: "a",
      feedback: "ASCII encryption converts numbers to letters starting from 65 for captial A and 98 for lowercase a."
    },
    {
      question: "Question 7: What was the purpose of the Caesar Cipher?",
      answers: {
        a: "For Security",
        b: "To have fun",
        c: "To replace each letter with another",
        d: "Julius Caesar created it to communicate with his generals"
      },
      correctAnswer: "d",
      feedback: "Caesar created the cipher to communicate with his generals. It was then used behind his back to plan to assassinate him."
    },
    {
      question: "Question 8: How was Pig Latin created?",
      answers: {
        a: "By little kids having fun",
        b: "From a boardgame",
        c: "From a rap song",
        d: "From a TV show"
      },
      correctAnswer: "a",
      feedback: "In England, kids wanted to create their own language, and pig latin was born!"
    },
    {
      question: "Question 9: What is the most secure Cipher in the world, what is the least?(Most Secure, Least Secure)",
      answers: {
        a: "PGP, WEP",
        b: "RSA, DES",
        c: "AES, Caesar Cipher",
        d: "Twofish, TripleDES"
      },
      correctAnswer: "c",
      feedback: "AES-256 is the most secure industry standard encryption method today. The caesar cipher has only 26 keys, and is very insecure."
    },
    {
      question: "Question 10: Which keys do you use to decrypt in RSA?",
      answers: {
        a: "Public Key 1, Public Key 2",
        b: "Public Key 2, Private Key",
        c: "Public Key 1, Private Key",
        d: "Public Key 1, Public Key 2, Private Key"
      },
      correctAnswer: "c",
      feedback: "We use Public Key 1 and the private key to decrypt RSA encoded data."
    }
  ];

  // Kick things off
  buildQuiz();

  // Pagination
  const previousButton = document.getElementById("previous");
  const nextButton = document.getElementById("next");
  const slides = document.querySelectorAll(".slide");
  let currentSlide = 0;

  // Show the first slide
  showSlide(currentSlide);

  // Event listeners
  submitButton.addEventListener('click', showResults);
  previousButton.addEventListener("click", showPreviousSlide);
  nextButton.addEventListener("click", showNextSlide);
})();

</script>


<form action="database" method="get">
    <input type="hidden" id="newform" name="newform" value="false"><br><br>
    <input type="hidden" id="attemptnum" name="attemptnum" value=""><br><br>
    <input type="hidden" id="questionswrong" name="questionswrong" value=""><br><br>
    <input type="hidden" id="questionsright" name="questionsright" value=""><br><br>
    <input type="hidden" id="result" name="result"><br><br>
    <input type="submit" value="View Attempts">
</form>



<p class="output">{{ display }}</p>

{% endblock %}
</body>
</html>
